// These colors are specific to the theme. Do not use in a package!

@mainbg: #321513;
@bg2: #50332d;
@bg3: #705349;
@bg4: #917566;
@fg3: #b39986;
@fg2: #d7bfa7;
@mainfg: #fbe6c9;

@comment: #96562a;
@builtin: #308e95;
@keyword: #63cce3;
@type: #9e4f70;
@const: #43ac75;
@func: #d55d5c;
@string: #db7d33;
@var: #db72ae;
@warning: #589ace;
@warning2: #6f4ebc;
